.navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #00000018;
  }


.navbar-brand {
    margin-left: 20px;
  }
  
.containerl {
    display: flex;
    justify-content: left;
    margin-top: 70px; /* Add some space from the top */
    margin-left: 400px;
  }
  
.logo-container img {
    width: 150px; /* Set the width to 300px */
    height: auto; /* Maintain the aspect ratio */
  }

.text-container {
    margin-left: 180px;
  }
  
.text-primary {
    color: #007bff;
  }

  .text-container {
    display: flex;
    align-items: center;
    margin-top: -155px;
  }
  
  .text-container h1 {
    font-size: 3rem;
    color: #1c1c1c;
    margin-left: 40px;
  }
  
.text-primary {
    color: black;
  }

.fast {
    margin-left: -240px;
}
  
body {
    background-image: url("wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hover-btn {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    overflow: hidden;
  }
  
  .hover-btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
  
  .hover-btn:hover:before {
    width: 300px;
    height: 300px;
  }

  /* Default styles for all screen sizes */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.content {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Styles for screens smaller than 600px (i.e. mobile devices) */
@media (max-width: 600px) {
  .content {
    padding: 10px;
  }
  
  .header, .footer {
    padding: 5px;
  }
}

/* Styles for screens larger than 600px (i.e. desktop devices) */
@media (min-width: 600px) {
  .content {
    padding: 40px;
  }
  
  .header, .footer {
    padding: 20px;
  }
}

  
  
  
  
    